<div class="discover-widget">
    <form>
        <div class="row collapse">
            <div class="large-9 columns">
                <input type="text" name="search" value="{{ last_search }}"/>
            </div>
            <div class="large-3 columns">
                <button class="button postfix" name="search-button">Search</button>
            </div>
        </div>
    </form>
    <div class="search-results"></div>
</div>
