<li class="search-result">
    <h5>{{ title }}<small>{{ type }}</small></h5>
    <div class="row collapse hidden actions">
        <div class="large-6 columns">
            <button class="search-radio button tiny">Radio</button>
        </div>
    </div>
</li>
