<div class="row">
    <div class="large-12 columns">
        {{#if error }}
        <p class="error">{{ error }}</p>
        {{/if}}
        
        {{#if empty_search_results }}
        <p>No search results</p>
        {{/if}}

        {{#if search_results }}
        <div class="large-6 columns">
            <ul>
            {{#each search_results.first_column }}{{{ this }}}{{/each}}
            </ul>
        </div>
        <div class="large-6 columns">
            <ul>
            {{#each search_results.second_column }}{{{ this }}}{{/each}}
            </ul>
        </div>
        {{/if}}
    </div>
</div>
