body {
    padding: 30px;
    background: url('./swirl_pattern.png') repeat top left #eee;
}
h1, h2, h3, h4, h5, h6 {
    background: rgba(255, 0, 102, 1);
    color: white;
    padding: 0.1em;
}
.box {
    padding: 10px;
    background: white;
    border-bottom: 5px solid rgba(255, 0, 102, 1);
}

/* discover */
.discover-widget .search-results ul {
    margin: 0.3em 0;
    list-style-type: none;
}
